body{ background-color: #f42b03;
    background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
    background-repeat: repeat-y;
}    

.container{
    background-color: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
}

.nav-link{color: #1aa7ec}

.content {
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  margin: -0.5rem;
  display: inline-grid;
}

.item {
    margin: 0.5rem;
}

/* img {
    float: right;
    margin: 5px;
  } */

  p {
    text-align: justify;
  }

h1, h2 {
    color:#1aa7ec;
    border-bottom: 3px solid #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h3, h4 {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.card {border: 50px}

/* .main-section {
        display: grid;
        align-items: left; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
       } */
       
       img {
        float: inline-end;
       }
       
       .text {
        display: inline;
       }

       .btn btn-primary {
        color:#1aa7ec;
       }

.pretty-box {
    background-color:#1aa7ec;
    border-radius: 25px;
  padding: 20px;
  width: 100%;
  height: 150px;
}

.scheduleParagraph {
    padding-bottom: 10px;
}